<form action="/dashboard/addtodo" method="POST">
  <div class="field">
    <label class="label">Todo</label> <input class="input" type="text" placeholder="Enter Todo Item" name="title">
  </div>
  <button class="button is-link">Add Todo</button>
</form>