{{> menu active="about"}}


<section class="box has-text-centered">
  <h3 class="title">
    Todo Version 2
  </h3>
  <div class="section">
    A simple todo list app - add todos only
    <div>
</section>